body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.table {
  width:360px;
  height:270px;
  margin:0px auto;
  border:1px solid #000;
  border-left-width:0;
}
.col {
  width:179px;
  height:100%;
  border-left:
  1px solid #000;
  float:left;
}