.alm-grid-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(36, 1fr);
}

.alm-grid-line {
  width: 1px;
  border-right: 1px dashed #ccc;
}

.da-row a {
  color: #000;
}

.red-row {
  pointer-events: none;
  background-color: #06cde3;
}

.red-row a {
  pointer-events: auto;
}

.red-row .button {
  pointer-events: auto;
}

.red-row-first {
  pointer-events: none;
  background-color: #06cde3;
  color: #ff0000;
}

.just-row-first {
  pointer-events: none;
  background-color: #06cde3;
  color: #1126be;
}

.just-row-first 　a {
  pointer-events: auto;
}

.red-row-first a {
  pointer-events: auto;
}

.red-row-first button {
  pointer-events: auto;
}

.just-row-first 　button {
  pointer-events: auto;
}

.grey-row-first {
  color: #ff0000;
}

.grey-row-just-first {
  color: #1126be;
}

.stock-tag {
  font-size: 16px !important;
  width: 250px;
  height: 30px !important;
  line-height: 30px !important;
}
